
.booking *{
   font-size: 12px;
}
.booking-content p{
    margin: 0px 10px
 }

 .booking-date{
    color: rgb(233, 34, 144);
    font-size: 1.2rem;
 }
 .loader{
    margin-top: 50%;
 }

 .booking-list{
   max-height: 430px;
   overflow-y: auto;
 }
 